body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.form-container, .table-container {
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table-container {
    margin-top: 20px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.form {
    display: flex;
    flex-direction: column;
}

.form button {
    margin-top: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
}

.btn-success {
    background-color: #28a745;
    color: #fff;
    border: none;
}

.btn-warning {
    background-color: #ffc107;
    color: #fff;
    border: none;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
    border: none;
}

.btn-primary, .btn-secondary {
    color: #fff;
    border: none;
}

.btn-group {
    display: flex;
    gap: 10px;
}

.btn-group .btn {
    margin-right: 5px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

.table th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#searchInput {
    max-width: 400px;
    border-radius: 20px;
    padding: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination .btn {
    margin: 0 2px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}

.pagination .btn.active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

#modal {
    display: none;
}

#modal .backdrop-blur-md {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
}
